body {
    background-image: url("/static/balloonicorn_by_hokutto-d564r4n.png");
    background-repeat: no-repeat;
    background-position: right top;
}

h1 {
    font-family: sans-serif;
    color: #3366cc
}